/*

	author    : Hans Hagen, PRAGMA-ADE, Hasselt NL
	copyright : PRAGMA ADE / ConTeXt Development Team
	license   : see context related readme files
	comment   : companion to context.mkiv

*/

/*

	Because empty div elements are not seen we put a comment in them
	so that empty table cells etc work ok.

*/

/* ignore  : mixed   */
/* metadata: display */

ignore, div.ignore {
	display : none ;
}

xmetadata, div.xmetadata {
	display : none ;
}

xmetavariable, div.xmetavariable {
	display : none ;
}

/* document : display */

document:before, div.document:before {
	content       : attr(title) ;
	font-size     : 44pt ;
	font-weight   : bold ;
	margin-bottom : 1em ;
}

document, div.document {
	font-family  : "DejaVu Serif", "Lucida Bright", serif ;
	font-size    : 12pt ;
	max-width    : 50em ;
	padding      : 1em ;
 /* text-align   : justify ;    */
    text-align   : justify ;
 /*	hyphens      : manual ;     */
 /* text-justify : inter-word ; */
}

document>metadata, div.document div.metadata {
	font-family   : "Lucida Console", "DejaVu Sans Mono", monospace ;
	margin-bottom : 2em ;
}

document>metadata>metavariable[name="title"]:before,
		div.document div.metadata div.metavariable.name-title:before {
	content : "title\00A0\00A0\00A0:\00A0" ;
}

document>metadata>metavariable[name="author"]:before,
		div.document div.metadata div.metavariable.name-author:before {
	content : "author\00A0\00A0:\00A0" ;
}

document>metadata>metavariable[name="version"]:before,
		div.document div.metadata div.metavariable.name-version:before {
	content : "version\00A0:\00A0" ;
}

document>metadata>metavariable[name="title"], document>metadata>metavariable[name="author"], document>metadata>metavariable[name="version"],
		div.document div.metadata div.metavariable.name-title, div.document div.metadata div.metavariable.name-author, div.document div.metadata div.metavariable.name-version {
	display : block ;
}

/* paragraph : mixed */
/* p         : mixed */

paragraph, p, div.paragraph, div.p {
	display       : block ;
	margin-top    : 0.5em ;
	margin-bottom : 0.5em ;
}

/* break : display */

break, div.break {
	display       : block ;
	margin-bottom : 0.5em ;
}

/* construct : inline */
/* highlight : inline */

construct, div.construct {
}

construct[detail="important"], div.construct.detail-important {
	font-weight : bold ;
}

highlight, div.highlight { /* todo: style and color */
}

/* section        : display */
/* sectiontitle   : mixed   */
/* sectionnumber  : mixed   */
/* sectioncontent : display */

section, div.section {
	display : block ;
}

sectioncontent, div.sectioncontent {
	display       : block ;
	margin-top    : 1em ;
	margin-bottom : 1em ;
}

section[detail="chapter"], section[detail="title"],
		div.section.detail-chapter, div.section.detail-title {
	page-break-before : always ;
	page-break-after  : avoid ;
	margin-top        : 3em ;
	margin-bottom     : 2em ;
}

section[detail="section"], section[detail="subject"],
		div.section.detail-section, div.section.detail-subject {
	page-break-after : avoid ;
	margin-top       : 2.5em ;
	margin-bottom    : 2.5em ;
}

section[detail="subsection"], section[detail="subsubject"],
		div.section.detail-subsection, div.section.detail-subsubject {
	page-break-after : avoid ;
	margin-top       : 2em ;
	margin-bottom    : 2em ;
}

section[detail="subsubsection"], section[detail="subsubsubject"],
		div.section.detail-subsubsection, div.section.detail-subsubsubject {
	page-break-after : avoid ;
	margin-top       : 1em ;
	margin-bottom    : 0em ;
}

section[detail="summary"], section[detail="subsummary"],
		div.section.detail-summary, div.section.detail-subsummary {
	margin-top    : 1em ;
	margin-bottom : 1em ;
}

section[detail="chapter"]>sectionnumber,
		div.section.detail-chapter div.sectionnumber {
	display      : inline-block ;
	margin-right : 1em ;
	font-size    : 3em ;
	font-weight  : bold ;
}

section[detail="chapter"]>sectiontitle, section[detail="title"]>sectiontitle,
		div.section.detail-chapter div.sectiontitle, div.section.detail-title div.sectiontitle {
	display     : inline-block ;
	font-size   : 3em ;
	font-weight : bold ;
}

section[detail="section"]>sectiontitle, section[detail="subject"]>sectiontitle,
		div.section.detail-section div.sectiontitle, div.section.detail-subject div.sectiontitle {
	display     : inline-block ;
	font-size   : 2.5em ;
	font-weight : bold ;
}

section[detail="subsection"]>sectiontitle, section[detail="subsubject"]>sectiontitle,
		div.section.detail-subsection div.sectiontitle, div.section.detail-subsubject div.sectiontitle {
	display     : inline-block ;
	font-size   : 2em ;
	font-weight : bold ;
}

section[detail="subsubsection"]>sectiontitle, section[detail="subsubsubject"]>sectiontitle,
		div.section.detail-subsubsection div.sectiontitle, div.section.detail-subsubsubject div.sectiontitle {
	display     : inline-block ;
	font-size   : 1em ;
	font-weight : bold ;
}

section[detail="section"]>sectionnumber, div.section.detail-section div.sectionnumber {
	display      : inline-block ;
	margin-right : 1em ;
	font-size    : 2.5em ;
	font-weight  : bold ;
}

section[detail="summary"]>sectiontitle, div.section.detail-summary div.sectiontitle {
	display             : block ;
	margin-top          : 1em ;
	margin-bottom       : 1em ;
	font-weight         : bold ;
	border-bottom-style : solid ;
	border-color        : rgb(50%,50%,100%) ;
	border-width        : .15em;
}

section[detail="subsection"]>sectionnumber, div.section.detail-subsection div.sectionnumber {
	display      : inline-block ;
	margin-right : 1em ;
	font-size    : 1em ;
	font-weight  : bold ;
}

section[detail="subsummary"]>sectiontitle, div.section.detail-subsummary div.sectiontitle {
	display             : block ;
	margin-top          : 1em ;
	margin-bottom       : 1em ;
	font-weight         : bold ;
	border-color        : rgb(50%,50%,100%) ;
	border-bottom-style : dotted ;
	border-width        : .15em ;
}

/* itemgroup   : display */
/* item        : display */
/* itemtag     : mixed   */
/* itemcontent : mixed   */

/* type   : alphabetic ; */
/* suffix : '.' ;        */

@counter-style lower-greek { /* css 3 */
    type   : non-repeating ;
    glyphs : 'α' 'β' 'γ' 'δ' 'ε' 'ζ' 'η' 'θ' 'ι' 'κ' 'λ' 'μ' 'ν' 'ξ' 'ο' 'π' 'ρ' 'σ' 'τ' 'υ' 'φ' 'χ' 'ψ' 'ω' ;
}

@counter-style upper-greek { /* css 3 */
    type   : non-repeating ;
    glyphs : 'Α' 'B' 'Γ' 'Δ' 'Ε' 'Ζ' 'Η' 'Θ' 'Ι' 'Κ' 'Λ' 'Μ' 'Ν' 'Ξ' 'Ο' 'Π' 'Ρ' 'Σ' 'Τ' 'Υ' 'Φ' 'Χ' 'Ψ' 'Ω' ;
}

itemgroup, div.itemgroup {
	display       : block ;
	margin-bottom : 0.5em ;
	margin-top    : 0.5em ;
}

itemgroup[symbol="1"], div.itemgroup.symbol-1 { list-style-type : disc ; }
itemgroup[symbol="2"], div.itemgroup.symbol-2 { list-style-type : square ; }
itemgroup[symbol="3"], div.itemgroup.symbol-3 { list-style-type : square ; }
itemgroup[symbol="4"], div.itemgroup.symbol-4 { list-style-type : square ; }
itemgroup[symbol="5"], div.itemgroup.symbol-5 { list-style-type : circ ; }
itemgroup[symbol="a"], div.itemgroup.symbol-a { list-style-type : lower-alpha ; }
itemgroup[symbol="A"], div.itemgroup.symbol-A { list-style-type : alpha ; }
itemgroup[symbol="r"], div.itemgroup.symbol-r { list-style-type : lower-roman ; }
itemgroup[symbol="R"], div.itemgroup.symbol-R { list-style-type : upper-roman ; }
itemgroup[symbol="n"], div.itemgroup.symbol-n { list-style-type : decimal ; }
itemgroup[symbol="g"], div.itemgroup.symbol-g { list-style-type : lower-greek ; }
itemgroup[symbol="G"], div.itemgroup.symbol-G { list-style-type : upper-greek ; }

item, div.item {
	display       : list-item ;
	margin-left   : 1em ;
	margin-bottom : 0.5em ;
	margin-top    : 0.5em ;
}

itemtag, div.item {
	display: none ;
}

itemcontent, div.itemcontent {
}

/* description        : display */
/* descriptiontag     : mixed   */
/* descriptioncontent : mixed   */
/* descriptionsymbol  : inline  */

description, div.description {
	display       : block ;
	margin-bottom : 1em ;
	margin-top    : 1em ;
}

descriptiontag, div.descriptiontag {
	display      : inline ;
    float        : left ;
    clear        : left ;
	margin-right : 1em ;
    text-align   : left ;
    font-weight  : bold ;
}

descriptioncontent, div.descriptioncontent {
}

descriptionsymbol, div.descriptionsymbol {
	display : inline ;
}

/* verbatimblock      : display */
/* verbatimlines      : display */
/* verbatimline       : mixed   */
/* verbatim           : inline  */

verbatimblock, div.verbatimblock {
	background-color : rgb(50%,50%,100%) ;
	display          : block ;
	padding          : 1em ;
	margin-bottom    : 1em ;
	margin-top       : 1em ;
	font-family      : "Lucida Console", "DejaVu Sans Mono", monospace ;
}

verbatimlines+verbatimlines, div.verbatimlines+div.verbatimlines {
	display    : block ;
	margin-top : 1em ;
}

verbatimline, div.verbatimline {
	display     : block ;
	white-space : pre-wrap ;
}

verbatim, div.verbatim {
	display     : inline ;
	white-space : pre-wrap ;
	color       : rgb(60%,60%,0%) ;
	font-family : "Lucida Console", "DejaVu Sans Mono", monospace ;
}

/* lines : display */
/* line  : mixed   */

lines, div.lines {
	display       : block ;
	margin-bottom : 1em ;
	margin-top    : 1em ;
}

lines+lines, div.lines+div.lines {
	display    : block ;
	margin-top : 1em ;
}

line, div.line {
	display     : block ;
	white-space : pre-wrap ;
}

/* synonym : inline  */
/* sorting : inline  */

sorting, synonym, div.sorting, div.synonym {
	display      : inline ;
	font-variant : small-caps ;
}

/* register          : display */
/* registersection   : display */
/* registertag       : mixed   */
/* registerentries   : display */
/* registerentry     : mixed   */
/* registersee       : mixed   */
/* registerpages     : mixed   */
/* registerpage      : inline  */
/* registerpagerange : mixed   */

register, div.register {
	display: none ;
}

/* table     : display */
/* tablerow  : display */
/* tablecell : mixed   */

table, div.table {
	display : table ;
}

tablerow, div.tablerow {
	display : table-row ;
}

tablecell[align="middle"], div.tablecell.align-middle {
	display    : table-cell ;
	text-align : center ;
	padding    : .1em ;
}

tablecell[align="flushleft"], div.tablecell.align-flushleft {
	display    : table-cell ;
	text-align : left ;
	padding    : .1em ;
}

tablecell[align="flushright"], div.tablecell.align-flushright {
	display    : table-cell ;
	text-align : right ;
	padding    : .1em ;
}

tablecell, div.tablecell {
	display    : table-cell ;
	text-align : left ;
	padding    : .1em ;
}

/* tabulate     : display */
/* tabulaterow  : display */
/* tabulatecell : mixed   */

tabulate, div.tabulate {
	display       : table ;
	margin-top    : 1em ;
	margin-bottom : 1em ;
	margin-left   : 2.5em ;
}

floatcontent>tabulate, div.floatcontent div.tabulate {
	margin-left   : 0em ;
}

tabulaterow, div.tabulaterow {
	display : table-row ;
}

tabulatecell[align="middle"], div.tabulatecell.align-middle {
	display       : table-cell ;
	text-align    : center ;
	padding-right : 1em ;
}

tabulatecell[align="flushleft"], div.tabulatecell.align-flushleft {
	display       : table-cell ;
	text-align    : left ;
	padding-right : 1em ;
}

tabulatecell[align="flushright"], div.tabulatecell.align-flushright {
	display       : table-cell ;
	text-align    : right ;
	padding-right : 1em ;
}

tabulatecell, div.tabulatecell {
	display       : table-cell ;
	text-align    : left ;
	padding-right : 1em ;
}

/* combination        : display */
/* combinationpair    : display */
/* combinationcontent : mixed   */
/* combinationcaption : mixed   */

combination, div.combination {
	display       : table ;
	margin-top    : 0em ;
	margin-bottom : 0em ;
}

combinationpair, div.combinaitonpair {
	display       : table-cell ;
	padding-right : 1em ;
}

combinationcontent, div.combinationcontent {
	display    : table-row ;
	text-align : center ;
}

combinationcaption, div.combinationcaption {
	display     : table-row ;
	padding-top : 1ex ;
	text-align  : center ;
}


/* list        : display */
/* listitem    : display */
/* listtag     : mixed   */
/* listcontent : mixed   */
/* listdata    : mixed   */
/* listpage    : mixed   */

list, div.list {
	display : block ;
}

listitem[detail="chapter"], div.listitem.detail-chapter {
	display     : block ;
	margin-top  : 1em ;
	font-weight : bold ;
}

listitem[detail="section"], div.listitem.detail-section {
	display : block ;
}

listitem[detail="subsection"], div.listitem.detail-subsection {
	display : block ;
	display : inline-block ;
}

listtag, div.listtag {
	display : inline-block ;
	width   : 5em ;
}

listcontent, div.listcontent {
	display : inline-block ;
}

listdata, div.listdata {
	display : inline-block ;
}

listpage, div.listpage {
	display : none ;
}

/* delimitedblock : display */
/* delimited      : inline  */
/* subsentence    : inline  */

/* :lang(en) */

delimited[detail="quotation"]:before, delimitedblock[detail="quotation"]:before,
	div.delimited.detail-quotation:before, div.delimitedblock.detail-quotation:before {
	/* content : "\201C" ; */
	font-style : italic ;
}

delimited[detail="quotation"]:after, delimitedblock[detail="quotation"]:after,
	div.delimited.detail-quotation:after, div.delimitedblock.detail-quotation:after {
	/* content : "\201D" ; */
	font-style : italic ;
}

delimited[detail="quote"]:before, delimitedblock[detail="quote"]:before,
	div.delimited.detail-quote:before, div.delimitedblock.detail-quote:before {
	/* content : "\2018" ; */
	font-style : italic ;
}

delimited[detail="quote"]:after, delimitedblock[detail="quote"]:after,
	div.delimited.detail-quote:after, div.delimitedblock.detail-quote:after {
	/* content : "\2019" ; */
	font-style : italic ;
}

delimited, div.delimited {
    display : inline
}

delimitedblock, div.delimitedblock {
    display : block
}

subsentence:before, subsentence:after, div.subsentence:before, div.subsentence:after {
	content : "\2014" ;
}

subsentence, div.subsentence {
    display : inline
}

/* label  : mixed   */
/* number : mixed   */

/* float        : display */
/* floatcaption : mixed   */
/* floatlabel   : inline  */
/* floatnumber  : inline  */
/* floattext    : mixed   */
/* floatcontent : mixed   */

float, div.float {
	display       : block ;
	margin-top    : 1em ;
	margin-bottom : 1em ;
	margin-left   : 2.5em ;
}

floatcaption, div.floatcaption {
	display    : block ;
	margin-top : 0.5em ;
	color      : rgb(60%,60%,0%) ;
}

floatlabel, div.floatlabel {
	display      : inline-block ;
	font-weight  : bold ;
	margin-right : 0.25em ;
}

floatnumber, div.floatnumber {
	display      : inline ;
	font-weight  : bold ;
	margin-right : 0.25em ;
}

floattext, div.floattext {
	display      : inline ;
}

floatcontent, div.floatcontent {
}

/* image     : mixed */
/* mpgraphic : mixed */

/* image {
    display         : block ;
    background      : url(hacker.jpg) ;
    background-size : 100% auto ;
    width           : 8.992cm ;
    height          : 5.994cm ;
} */

mpgraphic:before, div.mpgraphic:before { /* does not work with empty element */
	content : "[runtime metapost graphic]" ;
}

mpgraphic, div.mpgraphic {
	display : inline ;
}

/* formula        : display */
/* subformula     : display */
/* formulaset     : display */
/* formulacaption : mixed   */
/* formulalabel   : mixed   */
/* formulanumber  : mixed   */
/* formulacontent : display */

formula, div.formula {
	display       : block ;
	margin-top    : 1em ;
	margin-bottom : 1em ;
	margin-left   : 2.5em ;
}

subformula, div.subformula { /* todo */
	display       : block ;
	margin-top    : 1em ;
	margin-bottom : 1em ;
	margin-left   : 2.5em ;
}

formulaset, div.formulaset { /* todo */
	display       : block ;
	margin-top    : 1em ;
	margin-bottom : 1em ;
	margin-left   : 2.5em ;
}

formulacaption, div.formulacaption { /* todo */
	display    : block ;
	margin-top : 0.5em ;
	color      : rgb(60%,60%,0%) ;
}

formulalabel, div.formulalabel {
	display      : inline ;
	font-weight  : bold ;
	margin-right : .25em ;
}

formulanumber, div.formulanumber {
	display     : inline ;
	font-weight : bold ;
}

formulacontent, div.formulacontent {
	display : block ;
}

link, div.link {
	display : inline ;
}

/* margintextblock : inline  */
/* margintext      : inline  */

/* math       : inline  */
/* mn         : mixed   */
/* mi         : mixed   */
/* mo         : mixed   */
/* ms         : mixed   */
/* mrow       : display */
/* msubsup    : display */
/* msub       : display */
/* msup       : display */
/* merror     : mixed   */
/* munderover : display */
/* munder     : display */
/* mover      : display */
/* mtext      : mixed   */
/* mfrac      : display */
/* mroot      : display */
/* msqrt      : display */
/* mfenced    : display */
/* maction    : display */
/* mtable     : display */
/* mtr        : display */
/* mtd        : display */

/* quantity : inline */
/* unit     : inline */
/* number   : inline */

quantity, div.quantity {
	display : inline ;
}

quantity>unit, div.quantity div.unit {
	display : inline ;
}

quantity>number, div.quantity div.number {
	display : inline ;
}

/* sub    : inline */
/* sup    : inline */
/* subsup : inline */

sup, div.sup {
	display        : inline-block ;
	font-size      : xx-small ;
    line-height    : 0 ;
    padding-top    : 0.5ex ;
	vertical-align : top ;
}

sub, div.sub {
	display        : inline-block ;
	font-size      : xx-small ;
    line-height    : 0 ;
    padding-bottom : 0.5ex ;
	vertical-align : bottom ;
}

subsup>sup, div.subsup div.sup {
	display        : inline ;
	vertical-align : top ;
}

subsup>sub, div.subsup div.sub {
	display        : inline ;
	vertical-align : bottom ;
}

/* links */

div[href]:hover {
	color            : rgb(50%,0%,0%) ;
	background-color : rgb(85%,85%,85%) ;
}

/* setups */

setup, div.setup {
	display : block ;
}

comment, div.comment {
	background-color : rgb(50%,75%,100%) ;
	display          : block ;
	padding          : 1em ;
	margin-bottom    : 1em ;
	margin-top       : 1em ;
	font-family      : "Lucida Console", "DejaVu Sans Mono", monospace ;
}
