% This file is mostly the same as the one that ships with
% texlive, but adapted for multiple trees as well as
% development in a non tds tree (i.e. hh's machine). This
% file is meant for context users.
%
% This file loads before texmf/web2c/texmf.cnf; beware :
% the selfish auto parent can get in the way especially when
% the binaries are located elsewhere. In case of multiple
% trees, one can best set the following ones manually.

progname = unsetprogname
engine   = unsetengine
backend  = unsetbackend

TEXMFMAIN     = $SELFAUTOPARENT/texmf
TEXMFLOCAL    = $SELFAUTOPARENT/texmf-local
TEXMFFONTS    = $SELFAUTOPARENT/texmf-fonts
TEXMFEXTRA    = $SELFAUTOPARENT/texmf-extra
TEXMFPROJECT  = $SELFAUTOPARENT/texmf-project
VARTEXMF      = $SELFAUTOPARENT/texmf-var
HOMETEXMF     = /nonexist
TEXMF         = {!!$TEXMFPROJECT,!!$TEXMFFONTS,!!$TEXMFLOCAL,!!$TEXMFEXTRA,!!$TEXMFMAIN}
SYSTEXMF      = $TEXMF

TEXMFCACHE    = $TMP;$TEMP;$TMPDIR;$TEMPDIR;$HOME;$TEXMFVAR;$VARTEXMF;.

TEXMFCNF      = .;$TEXMF/texmf{-local,}/web2c
TEXMFDBS      = $TEXMF;$VARTEXFONTS

VARTEXFONTS   = $TEMPFONTPATH/varfonts

% In the case of an multi-os setup, this one can be set
% by the environment. watch out, lowercase engine !

TEXFORMATS    = .;$TEXMF/web2c/{$engine,}
MFBASES       = .;$TEXFORMATS
MPMEMS        = .;$TEXFORMATS
TEXPOOL       = .;$TEXFORMATS
MFPOOL        = .;$TEXFORMATS
MPPOOL        = .;$TEXFORMATS

WEB2C         = $TEXMF/web2c

% fonts, for the moment we also support the old enc/map locations

OSFONTDIR =

TEXPSHEADERS  = .;$TEXMF/{fonts/{enc,map,type1,truetype},dvips,pdftex,tex}//;$TEXMF/{etex,tex,pdftex,dvips,fonts/type1}//;./fonts//

TEXFONTMAPS.dvipdfm  = .;$TEXMF/fonts/map/{dvipdfm,dvips,}//;./fonts//
TEXFONTMAPS.dvipdfmx = .;$TEXMF/fonts/map/{dvipdfm,dvips,}//;./fonts//
TEXFONTMAPS.pdftex   = .;$TEXMF/fonts/map/{pdftex,dvips,}//;./fonts//
TEXFONTMAPS.pdfetex  = .;$TEXMF/fonts/map/{pdftex,dvips,}//;./fonts//
TEXFONTMAPS.luatex   = .;$TEXMF/fonts/map/{pdftex,dvips,}//;./fonts//
TEXFONTMAPS.xetex    = .;$TEXMF/fonts/map/{xetex,pdftex,dvips,}//;./fonts//
TEXFONTMAPS.dvips    = .;$TEXMF/fonts/map/{dvips,pdftex,}//;./fonts//

# TEXFONTMAPS = .;$TEXMF/fonts/map/{$backend,pdftex,dvips,}//;$TEXMF/{$progname,pdftex,dvips}/{config,}//
TEXFONTMAPS   = .;$TEXMF/fonts/map/{$progname,$engine,pdftex,dvips,}//;$TEXMF/{$progname,$engine,pdftex,dvips}/{config,}//;./fonts//

VFFONTS       = .;$TEXMF/fonts/vf//;./fonts//
TFMFONTS      = .;{$TEXMF/fonts,$VARTEXFONTS}/tfm//;./fonts//
T1FONTS       = .;$TEXMF/fonts/{type1,pfb}//;$TEXMF/fonts/misc/hbf//;$OSFONTDIR;./fonts//
AFMFONTS      = .;$TEXMF/fonts/afm//;$OSFONTDIR;./fonts//
LIGFONTS      = .;$TEXMF/fonts/lig//;./fonts//
TTFONTS       = .;$TEXMF/fonts/{truetype,ttf}//;$OSFONTDIR;./fonts//
TTF2TFMINPUTS = .;$TEXMF/ttf2pk//;./fonts//
T42FONTS      = .;$TEXMF/fonts/type42//;./fonts//
MISCFONTS     = .;$TEXMF/fonts/misc//;./fonts//
% ENCFONTS    = .;$TEXMF/fonts/enc//;./fonts//
ENCFONTS      = .;$TEXMF/{fonts/enc,dvips,pdftex,dvipdfm}//;./fonts//
CMAPFONTS     = .;$TEXMF/fonts/cmap//;./fonts//
SFDFONTS      = .;$TEXMF/fonts/sfd//;./fonts//
OPENTYPEFONTS = .;$TEXMF/fonts/opentype//;$OSFONTDIR;./fonts//

OFMFONTS      = .;{$TEXMF/fonts,$VARTEXFONTS}/{ofm,tfm}//;$TFMFONTS;./fonts//
OPLFONTS      = .;{$TEXMF/fonts,$VARTEXFONTS}/opl//;./fonts//
OVFFONTS      = .;{$TEXMF/fonts,$VARTEXFONTS}/ovf//;./fonts//
OVPFONTS      = .;{$TEXMF/fonts,$VARTEXFONTS}/ovp//;./fonts//
OTPINPUTS     = .;$TEXMF/omega/otp//
OCPINPUTS     = .;$TEXMF/omega/ocp//
OTFFONTS      = .;$TEXMF/fonts/otf/{xetex,}//;./fonts//

% configurations

% resource paths, can be used in paranoid situations (can be env vars)

TXRESOURCES=rubish
MPRESOURCES=$TXRESOURCES
MFRESOURCES=$MPRESOURCES

% some extra paths for development trees (can be env vars)

CTXDEVTXPATH=rubish
CTXDEVMPPATH=rubish
CTXDEVMFPATH=rubish

% TEXINPUTS.context = .;{$TXRESOURCES}//;{$CTXDEVTXPATH};$TEXMF/{pdftex,pdfetex,etex,xetex,omega,tex}/{context,plain,generic,}//
% TEXINPUTS.context = .;{$TXRESOURCES}//;{$CTXDEVTXPATH};$TEXMF/{tex,omega}/{context,plain,generic}//
% TEXINPUTS.context = .;{$TXRESOURCES}//;{$CTXDEVTXPATH};$TEXMF/tex/{context,plain/base,generic/context,generic/hyphen,generic/omega}//
TEXINPUTS.context = .;{$TXRESOURCES}//;{$CTXDEVTXPATH};$TEXMF/tex/{context,plain/base,generic}//
MPINPUTS          = .;{$MFRESOURCES}//;{$CTXDEVMPPATH};$TEXMF/metapost/{context,base,}//
MFINPUTS          = .;{$MPRESOURCES}//;{$CTXDEVMFPATH};$TEXMF/metafont/{context,base,}//;{$TEXMF/fonts,$VARTEXFONTS}/source//

TEXCONFIG     = .;$TEXMF/{fonts/map,dvips,pdftex,dvipdfmx,dvipdfm}//
PDFTEXCONFIG  = .;$TEXMF/pdftex/{$progname,}//
DVIPDFMINPUTS = .;$TEXMF/{fonts/{map,enc,lig}/dvipdfm,fonts/type1,dvips,pdftex,dvipdfmx,dvipdfm}//

% this way we can hook in development paths

CTXDEVPLPATH=rubish
CTXDEVPYPATH=rubish
CTXDEVRBPATH=rubish
CTXDEVJVPATH=rubish

% some old paths; we restrict the search to context paths; new ones as well as old ones

PERLINPUTS   = .;$CTXDEVPLPATH;$TEXMF/scripts/context/perl
PYTHONINPUTS = .;$CTXDEVPYPATH;$TEXMF/scripts/context/python
RUBYINPUTS   = .;$CTXDEVRBPATH;$TEXMF/scripts/context/ruby
LUAINPUTS    = .;$CTXDEVJVPATH;$TEXMF/scripts/context/lua
JAVAINPUTS   = .;$CTXDEVJVPATH;$TEXMF/scripts/context/java

TEXMFSCRIPTS = .;$CTXDEVRBPATH;$CTXDEVLUPATH;$CTXDEVPLPATH;$TEXMF/scripts/context

% RUBYINPUTS   = .;$CTXDEVPLPATH;$TEXMF/scripts/{$progname,$engine,}/ruby
% LUAINPUTS    = .;$CTXDEVPYPATH;$TEXMF/scripts/{$progname,$engine,}/lua
% PYTHONINPUTS = .;$CTXDEVRBPATH;$TEXMF/scripts/{$progname,$engine,}/python
% PERLINPUTS   = .;$CTXDEVJVPATH;$TEXMF/scripts/{$progname,$engine,}/perl
% JAVAINPUTS   = .;$CTXDEVJVPATH;$TEXMF/scripts/{$progname,$engine,}/java

% TEXMFSCRIPTS = .;$CTXDEVRBPATH;$CTXDEVLUPATH;$CTXDEVPLPATH;$TEXMF/scripts/$progname

% features

shell_escape            = t
%openout_any            = a
openout_any             = p
openin_any              = a
parse_first_line        = f
allow_multiple_suffixes = f

% auto generation

MKTEXTEX = 0
MKTEXPK  = 0
MKTEXMF  = 0
MKTEXTFM = 0
MKOCP    = 0
MKOFM    = 0

% metapost

MPXCOMMAND = texexec --batch --once --nomp --mptex
TEX        = texexec --batch --once --nomp

% These values are about the same as in the main
% configuration file (dest_names_size added).

buf_size.context         = 2000000 % needed for omega bug
extra_mem_bot.context    = 2000000
extra_mem_top.context    = 4000000
font_max.context         =    2000
font_mem_size.context    = 1000000
hash_extra.context       =  100000
main_memory.context      = 2000000
max_strings.context      =  300000
nest_size.context        =     500
obj_tab_size.context     =  300000
pdf_mem_size.context     =  500000
dest_names_size.context  =  300000
param_size.context       =   10000
pool_free.context        =   47500
pool_size.context        = 2000000
save_size.context        =   50000
stack_size.context       =   10000
string_vacancies.context =  125000
trie_size.context        =  250000
hyph_size.context        =    8191 % prime

main_memory.mpost        = 3000000
pool_size.mpost          = 3000000
max_strings.mpost        =  200000
path_size.mpost          =   10000
nest_size.mpost          =     500
param_size.mpost         =   10000
save_size.mpost          =   50000
stack_size.mpost         =    5000
string_vacancies.mpost   =   90000

main_memory.metafun      = 3000000
pool_size.metafun        = 3000000
max_strings.metafun      =  200000
path_size.metafun        =   10000
nest_size.metafun        =     500
param_size.metafun       =   10000
save_size.metafun        =   50000
stack_size.metafun       =    5000
string_vacancies.metafun =   90000

buf_size                 =  100000

mp_buf_size              =   30000
mf_buf_size              =   30000
mpost_buf_size           =   30000

max_print_line.pdftex    =     250
max_print_line.luatex    =     250
max_print_line.mpost     =     250
max_print_line.metafun   =     250

extra_mem_top.mptopdf    = 1000000
extra_mem_bot.mptopdf    = 1000000

ocp_buf_size             =  500000
ocp_stack_size           =   10000
ocp_list_size            =    1000

